@{
    ViewBag.Title = "Achievements";
}

@model JustPressPlay.ViewModels.AchievementsListViewModel


<div class="margin-top">

    <div class="row">
        <div class="large-8 columns end">
            <h1 class="light uppercase">Achievements</h1>
        </div>
    </div>

    <div class="row">

        <div class="large-3 push-9 columns searchSidebar">

            <input type="text" placeholder="Search..." data-bind="value: searchText, valueUpdate: 'afterkeydown'" />

            <div>
                <label for="all-checkbox">
                    <input type="radio" name="listType" id="all-checkbox" value="all" data-bind="checked: listType" />
                    All
                </label>

                <label for="achieved-checkbox">
                    <input type="radio" name="listType" id="achieved-checkbox" value="achieved" data-bind="checked: listType" />
                    Achieved
                </label>

                <label for="available-checkbox">
                    <input type="radio" name="listType" id="available-checkbox" value="available" data-bind="checked: listType" />
                    Available
                </label>
            </div>

            <h5>Show Achievements With:</h5>

            <div>
                <label for="checkbox1">
                    <input type="checkbox" id="checkbox1" data-bind="checked: createChecked" checked />
                    Create Points
                </label>

                <label for="checkbox4">
                    <input type="checkbox" id="checkbox4" data-bind="checked: exploreChecked" checked />
                    Explore Points
                </label>

                <label for="checkbox5">
                    <input type="checkbox" id="checkbox5" data-bind="checked: learnChecked" checked />
                    Learn Points
                </label>

                <label for="checkbox6">
                    <input type="checkbox" id="checkbox6" data-bind="checked: socializeChecked" checked />
                    Socialize Points
                </label>
            </div>

        </div> <!-- END lowerBodySidebar -->


        <div class="large-9 pull-3 columns">

            <div class="item-list">

                <!--
                <ul class="filters" data-bind="foreach: lists">
                    <li data-bind=" text: $data,
                                    css: { selected: $data == $root.activeList() },
                                    click: $root.loadList"></li>
                </ul>
                -->

                <ul class="item-container large-block-grid-5 small-block-grid-4" data-bind="template: { name: 'achievement-item-template', foreach: displayListItems }">
                </ul>

                <div class="bottom">
                    <div class="spinner" data-bind="visible: loading"></div>
                    <div class="empty-message" data-bind="visible: empty"><p>Nothing could be found with the current search parameters!</p></div>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <footer>
            @{ Html.RenderPartial("_Footer"); }
        </footer>
    </div>
</div>

@{ Html.RenderPartial("_ItemListTemplates"); }
<script>

    var settings = {
        @if ( WebSecurity.IsAuthenticated )
        {
            @Html.Raw("playerID: " + WebSecurity.CurrentUserId);
        }
    };

    ko.applyBindings(new AchievementListViewModel(settings));

</script>