@{
    ViewBag.Title = "Contacts";
}

@model JustPressPlay.ViewModels.LayoutViewModel

<div class="large-4 columns">
    <h1>CONTACT</h1>
    <p>Looking to get in touch with someone who knows something? Anything? You’ve come to the right place. Fill out our handy form, and our SUPER-SECRET Crack Team of Admin-Ninjas will get back to you.</p>
    <p>Also check out our Facebook and Twitter accounts for the latest updates and news.</p>
    <!--mail form-->
</div>
<div class="large-4 columns">
    <h2>FACEBOOK</h2>
    <!--facebook widget-->
</div>
<div class="large-4 columns">
    <h2>TWITTER</h2>
    <!--twitter widget-->
</div>