@{
    ViewBag.Title = "Credits";
}

@model JustPressPlay.ViewModels.LayoutViewModel

<!-- these need to go somewhere?? this whole page was made more as a proof of concept and may need to be restructured/rewritten
<style type="text/css">
    h1, h2{
	    text-align: center;
    }
    .roles, .roles>h3{
	    font-weight: 400;
    }
    .names, .names>h3{
	    text-align: right;
    }
    .circlePic{
	    border-radius: 100%;
    }
</style>
-->

<div class="large-12 columns">
	<div class="row">
		<div class="row">
			<h1>CREDITS</h1>
			<h2>RIT FACULTY &amp; STAFF</h2>
		</div>
		<div class="row">
			<ul class="large-block-grid-5 small-block-grid-2" style="text-align:center">
				<li>
					<img class="circlePic" src="http://placekitten.com/167/167">
					<h3>ELIZABETH LAWLEY</h3>
					<h3 class="roles">Production Lead</h3>
				</li>
				<li>
					<img class="circlePic" src="http://placekitten.com/167/167">
					<h3>ELIZABETH LAWLEY</h3>
					<h3 class="roles">Production Lead</h3>
				</li>
				<li>
					<img class="circlePic" src="http://placekitten.com/167/167">
					<h3>ELIZABETH LAWLEY</h3>
					<h3 class="roles">Production Lead</h3>
				</li>
				<li>
					<img class="circlePic" src="http://placekitten.com/167/167">
					<h3>ELIZABETH LAWLEY</h3>
					<h3 class="roles">Production Lead</h3>
				</li>
				<li>
					<img class="circlePic" src="http://placekitten.com/167/167">
					<h3>ELIZABETH LAWLEY</h3>
					<h3 class="roles">Production Lead</h3>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-6 small-6 columns names">
			<h3>STEPHEN JACOBS</h3>
			<h3>DAVID SIMKINS</h3>
			<h3>JENN HILTON</h3>
			<h3>ANDY PHELPS</h3>
		</div>
		<div class="large-6 small-6 columns roles">
			<h3>Content Development</h3>
			<h3>Content Development</h3>
			<h3>Content Development</h3>
			<h3>The Boss of Us</h3>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns">
				<h2>SUMMER 2013 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns names">
				<h3>STEPHEN CARLSON</h3>
				<h3>ZACHARY HOEFLER</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Web &amp; Graphic Design</h3>
				<h3>Web Development</h3>
			</div>
			<div class="large-3 small-6 columns names">
				<h3>BRANDON LITTELL</h3>
				<h3>BEN SNYDER</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Web Development</h3>
				<h3>Web Development</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns">
				<h2>SPRING 2012 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns names">
				<h3>CHRISTINA BELISLE</h3>
				<h3>ALLISON CARNWATH</h3>
				<h3>ZACHARY HOEFLER</h3>
				<h3>LANE LAWLEY</h3>
				<h3>GREGORY KOBERGER</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Social Media Coordinator</h3>
				<h3>Web Development</h3>
				<h3>Web Development</h3>
				<h3>Achievement Review</h3>
				<h3>Web Development Lead</h3>
			</div>
			<div class="large-3 small-6 columns names">
				<h3>MATT MONASCH</h3>
				<h3>RICKY SENFT</h3>
				<h3>STEPHEN SMITH</h3>
				<h3>BEN SNYDER</h3>
				<h3>SHANON ZAGST</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Web Development</h3>
				<h3>Web Development</h3>
				<h3>Web Development</h3>
				<h3>Engine Design &amp; Developement</h3>
				<h3>Web Dev &amp; Graphic Design</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns">
				<h2>FALL 2012 BETA TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns names">
				<h3>GRAHAM ANTHONY</h3>
				<h3>JOE BELLAVIA</h3>
				<h3>CHARLIE BOLES</h3>
				<h3>BEAU BOUCHARD</h3>
				<h3>MIKE DEVINE</h3>
				<h3>MARISSA GOMES</h3>
				<h3>JOSH HARRISON</h3>
				<h3>DAVID KELLY</h3>
				<h3>SIMON KORZUN</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Print Production</h3>
				<h3>Video Production</h3>
				<h3>Web &amp; Graphic Design</h3>
				<h3>Web Development</h3>
				<h3>Content Development</h3>
				<h3>Content Development</h3>
				<h3>RFID Development</h3>
				<h3>Web Development</h3>
				<h3>Engine Development</h3>
			</div>
			<div class="large-3 small-6 columns names">
				<h3>STUART MONSKE</h3>
				<h3>BILL PHILLIPS</h3>
				<h3>JUSTIN SCHWARTZ</h3>
				<h3>RICKY SENFT</h3>
				<h3>STEPHEN SMITH</h3>
				<h3>STEPHEN STOLL</h3>
				<h3>ADAM "BUCKY" TOWNSEND</h3>
				<h3>CODY VAN DE MARK</h3>
				<h3>DAN WHIDDON</h3>
			</div>
			<div class="large-3 small-6 columns roles">
				<h3>Web &amp; Content Development</h3>
				<h3>Content Development</h3>
				<h3>Engine Development</h3>
				<h3>Web Developement</h3>
				<h3>Web Development</h3>
				<h3>Content Development</h3>
				<h3>Web Development</h3>
				<h3>Interface &amp; Content Development</h3>
				<h3>Web &amp; Content Developement</h3>
			</div>
		</div>
	</div>
</div>

