@{
    ViewBag.Title = "People";
}

@model JustPressPlay.ViewModels.PlayersListViewModel


<div id="lowerBody">

    <div class="row">
        <div class="large-12 columns">
            <h1 class="light">PEOPLE</h1>
        </div>
    </div>

    <div class="row">
            

        <div id="lowerBodySidebar" class="large-3 push-9 columns searchSidebar">

            <input type="text" placeholder="Search..." data-bind="value: searchText, valueUpdate: 'afterkeydown'" />

            <h4>Refine Results</h4>

            <select data-bind="options: orderOptions, optionsText: 'name', optionsValue: 'value', value: order">
            </select>

            <h5>Show:</h5>
            <label for="checkbox1">
                <input type="checkbox" id="checkbox1" data-bind="checked: systemChecked" checked />
                System Quests
            </label>

            <label for="checkbox4">
                <input type="checkbox" id="checkbox4" data-bind="checked: communityChecked" checked />
                Community Quests
            </label>
                

        </div> <!-- END lowerBodySidebar -->



        <div class="large-9 pull-3 columns">


            <div class="item-list">

                <ul class="filters" data-bind="foreach: lists">
                    <li data-bind=" text: $data,
                                    css: { selected: $data == $root.activeList() },
                                    click: $root.loadList"></li>
                </ul>

                <ul class="item-container large-block-grid-5 small-block-grid-4" data-bind="template: { name: 'player-item-template', foreach: displayListItems }">
                </ul>

                <div class="bottom">
                    <div class="spinner" data-bind="visible: loading"></div>
                    <div class="empty-message" data-bind="visible: empty">Nothing could be found with the current search parameters!</div>
                </div>

            </div>


            <footer>
                    
                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div>
    </div>
</div>

@{ Html.RenderPartial("_ItemListTemplates"); }
<script>

    var settings = {
        @if ( WebSecurity.IsAuthenticated )
        {
            @Html.Raw("playerID: " + WebSecurity.CurrentUserId);
        }
    };

    ko.applyBindings(new PlayerListViewModel(settings));

</script>