@{
    ViewBag.Title = "Index";
}

<h2>Player List</h2>

<p>This is where the Player List will be.</p>

<p>To see the current JSON feed, go to @Html.ActionLink("/JSON/Players", "Players", "JSON").</p>