@{
    ViewBag.Title = "People";
}

@model JustPressPlay.ViewModels.PlayersListViewModel


<div id="lowerBody">

    <div class="row">
        <div class="large-8 columns push-3">
            <h1 class="light">PEOPLE</h1>
        </div>
    </div>

    <div class="row">
            

        <div id="lowerBodySidebar" class="large-3 columns searchSidebar">

            <h4>Filter List</h4>

            <input type="text" id="search" placeholder="Search..." />

            <label for="checkbox1">
                <input type="checkbox" id="checkbox1" checked />
                Show Friends
            </label>

            <br />

            <label for="checkbox4">
                <input type="checkbox" id="checkbox4" checked />
                Show Everyone
            </label>
                

        </div> <!-- END lowerBodySidebar -->



        <div class="large-9 columns">


            <div id="playerList"></div>


            <footer>
                    
                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {

        $('#playerList').jppimagelist({
            baseURL: '@Request.Url.GetLeftPart(UriPartial.Authority)',
            playerList: true,
            displayItemTitle: true,
            largeSize: 5,
            loadInterval: 30
        });

    }); // End document ready



</script>