@model JustPressPlay.ViewModels.UserSettingsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

@if (ViewBag.IsFacebookEnabled)
{
    @Html.Partial("ConnectFacebook", Model.FacebookConnectionModel)
}