@{
    ViewBag.Title = "Index";
}

<h2>Achievements List</h2>

<p>This is where the Achievements List will be.</p>

<p>To see the current JSON feed, go to @Html.ActionLink("/JSON/Achievements", "Achievements", "JSON").</p>