@{
    ViewBag.Title = "Index";
}

@model JustPressPlay.ViewModels.AchievementsListViewModel

<h2>Achievements List</h2>

<p>To see the current JSON feed, go to @Html.ActionLink("/JSON/Achievements", "Achievements", "JSON").</p>

<ul>
@foreach (JustPressPlay.ViewModels.AchievementViewModel achievement in Model.Achievements)
{
	<li><a href="@Url.Action("IndividualAchievement", new { id = achievement.ID })"><img src="@Url.Content(achievement.Image)"/>@achievement.Title</a></li>
} 
</ul>