@{
    ViewBag.Title = "Achievements";
}

@model JustPressPlay.ViewModels.AchievementsListViewModel


<div id="lowerBody">

    <div class="row">
        <div class="large-8 columns">
            <h1 class="light">ACHIEVEMENTS</h1>
        </div>
    </div>

    <div class="row">
            

        <div id="lowerBodySidebar" class="large-3 push-9 columns searchSidebar">

            

            <input type="text" id="search" placeholder="Search..." />

            <h4>Refine Results</h4>

            <select>
                  <option value="az">A-Z</option>
                  <option value="za">Z-A</option>
            </select>

            <h5>Show</h5>
            <label for="checkbox1">
                <input type="checkbox" id="checkbox1" checked />
                Quad
            </label>

            <label for="checkbox4">
                <input type="checkbox" id="checkbox4" checked />
                Quad
            </label>

            <label for="checkbox5">
                <input type="checkbox" id="checkbox5" checked />
                Quad
            </label>

            <label for="checkbox6">
                <input type="checkbox" id="checkbox6" checked />
                Quad
            </label>
                

        </div> <!-- END lowerBodySidebar -->



        <div class="large-9 pull-3 columns">


            <div id="achievementList"></div>

            <footer>
                    
                @{ Html.RenderPartial("_Footer"); }

            </footer>

        </div>
    </div>
</div>


<script src="@Url.Content("~/Content/js/plugin/jquery.jppimagelist.js")" type="text/javascript"></script>
<script>

    $(document).ready(function () {

        $('#achievementList').jppimagelist({
            baseURL: '@Request.Url.GetLeftPart(UriPartial.Authority)',
            @if ( WebSecurity.IsAuthenticated )
            {
                @Html.Raw("userID: " + WebSecurity.CurrentUserId + ", displayFilter: true,");
            }
            achievementList: true,
            displayItemTitle: true,
            largeSize: 5,
            loadInterval: 30
        });

    }); // End document ready



</script>