<script type="text/html" id="earning-badge-template">
    <li data-bind="attr: { earningID: earningID }">

        <div class="earning badge">

            <div class="earning-header">
                <a class="user-profile" data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
                <div class="text">
                    <p><a data-bind="text: displayName, attr: { href: '/Players/' + playerID }"></a></p>
                    <p>Earned <a data-bind="text: title, attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></p>
                    <p data-bind="text: earnedDate"></p>
                </div>
                
            </div>

            <div class="earning-body">
                <div data-bind="html: storyText"></div>
                <!--
                <div class="commentsContainer">
                    <h5>Comments</h5>
                    <form class="writeComment" action="/Comments/Add" method="post">
                        <input name="earningID" type="hidden" data-bind="value: earningID">
                        <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                        <div class="commentInput">
                            <input name="text" type="text" placeholder="Write a comment...">
                        </div>
                    </form>
                </div>
                    -->
            </div>
            

            <!--
            <div class="postPhoto" data-bind="if: storyPhoto">
                <img data-bind="attr: { src: storyPhoto }" />
            </div>
            -->

        </div>

    </li>
</script>

<script type="text/html" id="earning-wide-template">
    <div class="earning wide">

        <!--
        <div class="postPhoto" data-bind="if: storyPhoto">
            <img data-bind="attr: { src: storyPhoto }" />
        </div>
        -->

        <div class="postInfo">
            <div class="userPhoto">
                <a data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
            </div>
            <h1><a data-bind="text: displayName, attr: { href: '/Players/' + playerID }"></a></h1>
            <h2>Earned <a data-bind="text: title, attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></h2>
            <h3 data-bind="text: earnedDate"></h3>
        </div>
        <div class="postBody">
            <div data-bind="html: storyText"></div>
            <div class="commentsContainer">
                <h5>Comments</h5>
                <form class="writeComment" action="/Comments/Add" method="post">
                    <input name="earningID" type="hidden" data-bind="value: earningID">
                    <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                    <div class="commentInput">
                        <input name="text" type="text" placeholder="Write a comment...">
                    </div>
                </form>
            </div>
        </div>

    </div>
</script>

<script type="text/html" id="earning-fullscreen-template">
    <li class="timelinePost">

        <!--
        <div class="postPhoto" data-bind="if: storyPhoto">
            <img data-bind="attr: { src: storyPhoto }" />
        </div>
        -->

        <div class="postInfo">
            <div class="userPhoto">
                <a data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
            </div>
            <h1><a data-bind="text: displayName, attr: { href: '/Players/' + playerID }"></a></h1>
            <h2>Earned <a data-bind="text: title, attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></h2>
            <h3 data-bind="text: earnedDate"></h3>
        </div>
        <div class="postBody">
            <div data-bind="html: storyText"></div>
            <div class="commentsContainer">
                <h5>Comments</h5>
                <form class="writeComment" action="/Comments/Add" method="post">
                    <input name="earningID" type="hidden" data-bind="value: earningID">
                    <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                    <div class="commentInput">
                        <input name="text" type="text" placeholder="Write a comment...">
                    </div>
                </form>
            </div>
        </div>

    </li>
</script>