<script type="text/html" id="earning-badge-template">
    <li data-bind="attr: { earningID: earningID }">

        <div class="earning badge">

            <!-- ko if: contentPhoto !== null -->
            <div class="earning-header" data-bind="style: { 'background-image': 'url(' + contentPhoto + ')' }">
                <div class="text dark">
                    <p><a data-bind="text: displayName.toUpperCase(), attr: { href: '/Players/' + playerID }"></a> earned</p>
                    <p><a data-bind="text: title.toUpperCase(), attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></p>
                    <p data-bind="text: earnedDate"></p>
                </div>
                <a class="user-profile" data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
            </div>
            <!-- /ko -->

            <!-- ko ifnot: contentPhoto -->
            <div class="earning-header">
                <div class="template-photo">
                    <img data-bind="attr: { src: image }" />
                </div>
                <div class="text">
                    <p><a data-bind="text: displayName.toUpperCase(), attr: { href: '/Players/' + playerID }"></a> earned</p>
                    <p><a data-bind="text: title.toUpperCase(), attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></p>
                    <p data-bind="text: earnedDate"></p>
                </div>
                <a class="user-profile" data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
            </div>
            <!-- /ko -->

            <div class="earning-body">
                <!--<div data-bind="html: storyText"></div>-->
                <!--
                <div class="commentsContainer">
                    <h5>Comments</h5>
                    <form class="writeComment" action="/Comments/Add" method="post">
                        <input name="earningID" type="hidden" data-bind="value: earningID">
                        <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                        <div class="commentInput">
                            <input name="text" type="text" placeholder="Write a comment...">
                        </div>
                    </form>
                </div>
                    -->
            </div>
            

            <!--
            <div class="postPhoto" data-bind="if: storyPhoto">
                <img data-bind="attr: { src: storyPhoto }" />
            </div>
            -->

        </div>

    </li>
</script>

<script type="text/html" id="earning-wide-template">
    <div class="earning wide" data-bind="attr: { earningID: earningID }">

        <!-- ko if: contentPhoto !== null -->
        <div class="earning-header" data-bind="style: { 'background-image': 'url(' + contentPhoto + ')' }">
            <div class="text dark">
                <p><a data-bind="text: displayName.toUpperCase(), attr: { href: '/Players/' + playerID }"></a> earned</p>
                <p><a data-bind="text: title.toUpperCase(), attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></p>
                <p data-bind="text: earnedDate"></p>
            </div>
            <a class="user-profile" data-bind="attr: { href: '/Players/' + playerID }">
                <img data-bind="attr: { src: playerImage }" />
            </a>
            <a class="template-photo" data-bind="attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }">
                <img data-bind="attr: { src: image, alt: title }" />
            </a> 
        </div>
        <!-- /ko -->

        <!-- ko ifnot: contentPhoto -->
        <div class="earning-header no-photo">
            <div class="text">
                <p><a data-bind="text: displayName.toUpperCase(), attr: { href: '/Players/' + playerID }"></a> earned</p>
                <p><a data-bind="text: title.toUpperCase(), attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></p>
                <p data-bind="text: earnedDate"></p>
            </div>
            <a class="user-profile" data-bind="attr: { href: '/Players/' + playerID }">
                <img data-bind="attr: { src: playerImage }" />
            </a>
            <a class="template-photo" data-bind="attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }">
                <img data-bind="attr: { src: image, alt: title }" />
            </a>
        </div>
        <!-- /ko -->
        
        
        <div class="earning-body">
            <!-- ko if: storyText !== null -->
            <p data-bind="html: storyText"></p>
            <!-- /ko -->

            <div class="comment-social-links"><p><a href="#">Like</a> - <a href="#">Comment</a> - <a href="#">Share</a></p></div>

            <ul class="comments-container" data-bind="template: { name: 'comment-template', foreach: comments }">   
            </ul>
            
            <form class="write-comment" action="/Comments/Add" method="post" data-bind="attr: {'data-earning-id': earningID }">
                <input name="earningID" type="hidden" data-bind="value: earningID">
                <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                <div class="comment-input">
                    <input name="text" type="text" placeholder="Write a comment..." data-bind="event: { keypress: $root.submitComment }">
                </div>
            </form>
            
        </div>

    </div>
</script>

<script type="text/html" id="earning-fullscreen-template">
    <li class="timelinePost">

        <!--
        <div class="postPhoto" data-bind="if: storyPhoto">
            <img data-bind="attr: { src: storyPhoto }" />
        </div>
        -->

        <div class="postInfo">
            <div class="userPhoto">
                <a data-bind="attr: { href: '/Players/' + playerID }">
                    <img data-bind="attr: { src: playerImage }" />
                </a>
            </div>
            <h1><a data-bind="text: displayName, attr: { href: '/Players/' + playerID }"></a></h1>
            <h2>Earned <a data-bind="text: title, attr: { href: (earningIsAchievement ? '/Achievements/' : '/Quests/') + templateID }"></a></h2>
            <h3 data-bind="text: earnedDate"></h3>
        </div>
        <div class="postBody">
            <div data-bind="html: storyText"></div>
            <!--
            <div class="commentsContainer">
                <h5>Comments</h5>
                <form class="writeComment" action="/Comments/Add" method="post">
                    <input name="earningID" type="hidden" data-bind="value: earningID">
                    <input name="earningIsAchievement" type="hidden" data-bind="value: earningIsAchievement">
                    <div class="commentInput">
                        <input name="text" type="text" placeholder="Write a comment...">
                    </div>
                </form>
            </div>
                -->
        </div>

    </li>
</script>

<script type="text/html" id="comment-template">
    <li class="comment">

        <div class="image">
            <a href="#" data-bind="attr: { href: '/Players/' + playerID }"><img data-bind="attr: { src: playerImage }" /></a>
        </div>

        <div class="text">
            <p class="name"><a href="#" data-bind="attr: { href: '/Players/' + playerID }, text: playerDisplayName" ></a></p>
            <p data-bind="text: text"></p>
        </div>
                    
    </li>
</script>