<ul id="linkList">
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Credits</a></li>
    <li><a href="#">Contact</a></li>
</ul>

<ul id="imageList" class="small-block-grid-3">
    <li><a href="http://magic.rit.edu/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/magic.png")" /></a></li>
    <li><a href="http://research.microsoft.com/en-us/collaboration/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/microsoft.png")" /></a></li>
    <li><a href="http://www.rit.edu/" target="_blank"><img src="@Url.Content("~/Content/Images/Jpp/rit.png")" /></a></li>
</ul>