<script type="text/html" id="achievement-item-template">

    <li class="imageListItem">
        <a data-bind="attr: { href: '/Achievements/' + ID }">
            <img data-bind="attr: { src: image }" />
            <p data-bind="text: title"></p>
        </a>
    </li>

</script>