<script type="text/html" id="profile-quest-item">

    <li class="item">
        <a data-bind="attr: { href: '/Quests/' + ID }">
            <img data-bind="attr: { src: image }" />
            <!--<p data-bind="text: title"></p>-->
        </a>
    </li>

</script>

<script type="text/html" id="profile-achievement-item">

    <li class="item">
        <a data-bind="attr: { href: '/Achievements/' + ID }">
            <img data-bind="attr: { src: image }" />
            <!--<p data-bind="text: title"></p>-->
        </a>
    </li>

</script>

<script type="text/html" id="profile-player-item">

    <li class="item">
        <a data-bind="attr: { href: '/Players/' + ID }">
            <img class="roundImage" data-bind="attr: { src: image }" />
            <!--<p data-bind="text: title"></p>-->
        </a>
    </li>

</script>