/*
    Just Press Play v3
    2013
    Global Stylesheet
*/
/*#region VARIABLES*/
/*GLOBAL*/
/*TEXT*/
/*INPUTS*/
/*PANELS*/
/*NAVIGATION*/
/*COLORS*/
/*JPPQUAD COLORS*/
/*PAGE HEADER*/
/*EARNINGS*/
/*#endregion*/
/*#region MIXINS*/
/*JPPQUAD MIXINS*/
/*#endregion*/
/*#region Mixin Classes*/
.container {
  margin-top: 0.625em;
}
.roundImage {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.roundImageSmall {
  width: 30px;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.light,
.light-text {
  font-weight: 300;
}
.heavy,
.heavy-text {
  font-weight: 600;
}
.margin-bottom {
  margin-bottom: 0.625em;
}
.margin-bottom.wide {
  margin-bottom: 1.25em;
}
/*#endregion*/
/*#region HTML Overrides*/
body {
  background-color: #ecf0f1;
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  padding-top: 45px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}
h1 {
  font-size: 2.5em;
  line-height: 40px;
}
h2 {
  font-size: 1.875em;
  line-height: 30px;
}
h3 {
  font-size: 1.625em;
  line-height: 26px;
}
h4 {
  font-size: 1.25em;
  line-height: 20px;
}
h5 {
  font-size: 1em;
  line-height: 16px;
}
h6 {
  font-size: 0.75em;
  line-height: 12px;
}
p {
  font-size: 1em;
  line-height: 26px;
}
form {
  margin: 0;
}
a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  color: #222222;
}
/*#endregion*/
/*#region Foundation Overrides*/
.button.tiny {
  padding-top: 0.4375em;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: #ffffff;
  border: #cccccc solid 1px;
  box-shadow: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  padding: 0.625em;
  outline: none;
  resize: none;
  color: #222222;
  font-family: inherit;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  box-shadow: none;
  background: #ffffff;
}
button,
.button {
  display: block;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 0.625em;
  font-family: inherit;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  color: #fff;
  background-color: #3399ff;
  outline: none;
}
button:hover,
.button:hover {
  background-color: #198cff;
}
button:active,
.button:active,
button:visited,
.button:visited,
button:focus,
.button:focus {
  background-color: #3399ff;
}
button.save,
.button.save {
  background-color: #8eb936;
}
button.save:hover,
.button.save:hover {
  background-color: #7fa530;
}
button.cancel,
.button.cancel {
  background-color: #ce3146;
}
button.cancel:hover,
.button.cancel:hover {
  background-color: #b92c3f;
}
button.flip-text .text-1,
.button.flip-text .text-1 {
  display: inline;
}
button.flip-text .text-2,
.button.flip-text .text-2 {
  display: none;
}
button.flip-text:hover .text-1,
.button.flip-text:hover .text-1 {
  display: none;
}
button.flip-text:hover .text-2,
.button.flip-text:hover .text-2 {
  display: inline;
}
button.add-friend:hover,
.button.add-friend:hover {
  background-color: #8eb936;
}
button.remove-friend:hover,
.button.remove-friend:hover {
  background-color: #ce3146;
}
/*#region Orbit Overrides */
.buttonContainer {
  max-height: 28px;
  text-align: center;
}
.orbit-prev,
.orbit-next {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  content: "";
  background-color: #fdb302;
  line-height: 28px;
  font-size: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.orbit-next {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.orbit-prev:before,
.orbit-prev:after,
.orbit-next:before,
.orbit-next:after {
  border: solid transparent;
  display: block;
  content: "";
  height: 0;
  width: 0;
  top: 50%;
  right: 6.44px;
  position: absolute;
}
.orbit-prev:before,
.orbit-next:before {
  margin-top: -14px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 22.4px solid #333333;
}
.orbit-prev:after,
.orbit-next:after {
  margin-top: -6px;
  border-top: 6.6px solid transparent;
  border-bottom: 6.6px solid transparent;
  border-right: 11.2px solid #fdb302;
  right: 10.36px;
}
.orbit-bullets {
  margin: 0 0.625em;
  padding: 7px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 28px;
  bottom: 0;
  top: 0;
}
.orbit-bullets li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: #222222;
  border: solid 2px #222222;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.orbit-bullets li.active {
  background: #fdb302;
  cursor: default;
}
.orbit-bullets li:last-child {
  margin-right: 0;
}
.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
  display: none;
}
.touch .orbit-bullets {
  display: none;
}
/*#endregion*/
/*#endregion*/
/*#region Form Elements*/
.file-input {
  visibility: hidden;
  height: 0;
  width: 0;
  float: left;
}
.file-input-path {
  display: inline-block;
  margin: 0;
}
/*#endregion*/
/*#region Layout Sytles*/
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
/*#endregion*/
/*#region Profile Page*/
.page-select {
  display: block;
  width: 100%;
  text-align: center;
}
.page-select button {
  display: inline-block;
  margin: 0;
}
.page-select .page-count {
  display: inline-block;
  margin: 0.625em;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
}
/*#endregion*/
/*#region Loading Spinner*/
.spinner {
  height: 40px;
  width: 40px;
  margin: 0 auto 0.625em auto;
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border: 4px solid #eeeeee;
  border-radius: 100%;
}
.spinner.small {
  height: 20px;
  width: 20px;
}
.spinner:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  height: 100%;
  width: 100%;
  border-top: 4px solid #999999;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*#endregion*/
.jpp-panel {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.625em;
  margin-bottom: 0.625em;
}
.jpp-panel p {
  font-size: 0.875em;
}
.error-message {
  width: 100%;
  text-align: center;
  font-weight: 600 !important;
  color: #ce3146 !important;
}
.spacer {
  margin-top: 0.625em;
}
/*#region Static Page Styles*/
.names {
  text-align: right;
  list-style-type: none;
}
.names li {
  font-weight: 600;
  text-transform: uppercase;
}
.roles {
  list-style-type: none;
}
.roles li {
  font-weight: 400;
}
.centerText {
  text-align: center;
}
textarea {
  height: auto;
}
#aboutSlider {
  padding-top: 20px;
}
#aboutSlider img {
  margin-bottom: 10px;
}
.creditImage {
  max-width: 190px;
  max-height: 190px;
}
#aboutText h4 {
  padding-bottom: 5px;
  line-height: 25px;
}
.widgetWrapper {
  margin-top: 10px;
}
#imageUpload {
  padding-left: 20px;
  padding-top: 4px;
}
#imagePre {
  border: 1px solid #CCCCCC;
}
/*#endregion*/
.repeatEarnIcon {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 5px 5px 5px 0;
  padding: 12px 0 0 0;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  color: #fff;
  background-color: #111;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
}
/*#region Specific Page Sections*/
/*#region Navigation*/
#navigation {
  background-color: #fdb302;
  font-weight: 600;
}
#navigation .top-bar {
  background-color: #fdb302;
}
#navigation .top-bar.expanded .title-area {
  background-color: #fdb302;
}
#navigation .top-bar-section a {
  color: #222222;
}
#navigation .top-bar-section li,
#navigation .top-bar-section li a:not(.button) {
  max-height: 45px;
  background-color: #fdb302;
  color: #222222;
}
#navigation .top-bar-section li a:not(.button):hover {
  background-color: #fee19a;
}
#navigation .top-bar-section span {
  /*margin: -18px 0 0 20px;*/
}
#navigation .top-bar-section [class*="foundicon-"] {
  padding-bottom: 0;
  height: 1em;
  font-size: 1em;
}
#navigation .top-bar-section [class*="jppico-"] {
  font-size: 1.25em;
}
#navigation .top-bar-section div + span {
  margin-top: -25px;
}
#navigation .top-bar-section img {
  display: inline;
  vertical-align: middle;
}
/*#endregion*/
/*#region Header Section*/
#headerSection {
  padding-top: 0.625em;
  width: 100%;
  background-color: #ecf0f1;
  color: #222222;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
#headerSection a {
  color: #222222;
  font-weight: 600;
}
#headerSection h1 {
  margin: 0;
  font-weight: 600;
}
#headerSection h2 {
  margin: 0 0 15px 0;
  font-weight: 300;
}
#headerSection h4 {
  text-transform: uppercase;
  font-weight: 600;
}
#headerSection ul {
  margin-left: 1.25em;
}
#headerSection ul.imageList {
  margin: 0.625em 0 0 0;
}
#headerSection .coloredTitle h1,
#headerSection .coloredTitle h2,
#headerSection .coloredTitle h3 {
  font-size: 4.6875em;
  line-height: 70px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  text-wrap: none;
}
#headerSection .coloredTitle h1 {
  color: #ce3146;
}
#headerSection .coloredTitle h2 {
  color: #005f95;
}
#headerSection .coloredTitle h3 {
  color: #ffcb05;
}
#headerSection #mainImageContainer {
  margin-bottom: 1em;
}
#headerSection #mainImageContainer img {
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
}
#headerSection .icon {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
#headerSection .icon img {
  width: 100%;
}
#headerSection .icon p {
  font-size: 2.5em;
  margin: 0;
}
#headerSection .icon .create-points {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #3ea9f7;
}
#headerSection .icon .learn-points {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  color: #f79123;
}
#headerSection .icon .explore-points {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  color: #009142;
}
#headerSection .icon .socialize-points {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #ff931a;
}
.homeNews {
  overflow: hidden;
  background-color: #333 !important;
  color: #fff !important;
  padding-bottom: 0.625em;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.homeNews h1 {
  color: #fff;
}
.homeNews a {
  color: #fdb302 !important;
}
.homeNews p {
  overflow: hidden;
  color: #eeeeee !important;
}
.homeNews img {
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  max-width: 200px;
}
#heading-image {
  margin-bottom: 1em;
}
#heading-image img {
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  max-width: 200px;
  width: 100%;
}
#edit-profile:hover {
  background-color: #fff;
}
#edit-profile .button {
  display: inline-block;
}
#edit-profile .edit-profile-click-area {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}
#edit-profile .edit-profile-click-area:hover {
  cursor: pointer;
}
#edit-profile #input-display-name {
  height: auto;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  font-weight: 600;
}
#edit-profile #input-six-word-bio {
  height: auto;
  padding: 0;
  margin: 0 0 0.625em 0;
  font-size: 1.875em;
  font-weight: 300;
}
#edit-profile #input-full-bio {
  padding: 0;
  min-height: 26px;
  height: 26px;
  font-weight: 300;
  font-size: 1em;
  line-height: 26px;
}
@media only screen and (max-width: 767px) {
  .icon {
    max-width: 200px;
  }
  #headerSection #mainImageContainer,
  #heading-image {
    padding-left: 50%;
    margin-left: -100px;
  }
  #headerSection #mainImageContainer img,
  #heading-image img {
    width: 200px;
    max-width: 200px;
  }
  #headerSection #quadView {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }
  #headerSection .largePhoto {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
  }
  .activeNews {
    max-height: 700px;
  }
}
.orbit-container {
  background-color: transparent;
}
/*#endregion*/
/*#region Lower Body*/
#lowerBody {
  width: 100%;
  min-height: 300px;
  padding-top: 0.625em;
  background-color: transparent;
}
#lowerBody h3 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}
#lowerBody h4 {
  margin: 0;
  font-weight: 600;
}
#lowerBody h4 span {
  color: #999;
}
#lowerBody .questAchievementImageStatus {
  display: inline-block;
  width: 40px;
  margin: 5px 5px 5px 0;
}
#lowerBody .questAchievementImageStatus img {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 5px;
}
#lowerBody .questAchievementImageStatus p {
  font-size: 0.75em;
  line-height: 12px;
  font-weight: 600;
  text-align: center;
}
#lowerBody .questAchievementImageStatus a {
  color: #222222;
}
#lowerBody .statsGroup {
  margin: 0.625em 0 1.875em 0;
}
#lowerBody .statsGroup h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0.625em 0.625em;
}
#lowerBody .statsGroup h4 span {
  font-weight: 600;
  font-size: 0.75em;
}
#lowerBody #lowerBodySidebar h2 {
  font-weight: 600;
}
#lowerBody #lowerBodySidebar .content {
  margin-top: 0.625em;
}
#lowerBody #lowerBodySidebar .gridContainer h4 {
  margin-bottom: 0.9375em;
}
#lowerBody #lowerBodySidebar.searchSidebar h4 {
  text-transform: uppercase;
}
#lowerBody #lowerBodySidebar.searchSidebar #search {
  margin: 0.625em 0;
}
#lowerBody .earningFeed {
  padding-top: 0.625em;
}
#lowerBody .endOfFeed {
  width: 100%;
  text-align: center;
}
#lowerBody .endOfFeed h6 {
  color: #999;
  font-size: 16px;
  line-height: 16px;
}
#lowerBody .endOfFeed h6:before,
#lowerBody .endOfFeed h6:after {
  display: inline-block;
  content: " ";
  width: 25%;
  height: 6px;
  border-top: 1px solid #999;
}
#lowerBody .endOfFeed h6:before {
  margin-right: 15px;
}
#lowerBody .endOfFeed h6:after {
  margin-left: 15px;
}
.item-list .filters li {
  display: inline-block;
}
.item-list .filters li:hover {
  cursor: pointer;
}
.item-list .filters li.selected {
  background-color: #999999;
}
.item-list .item-container {
  margin-bottom: -20px;
}
.item-list .item-container .item {
  position: relative;
}
.item-list .item-container a img {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.item-list .item-container a p {
  color: #222222;
}
.item-list .item-container li p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.75em;
  line-height: 20px;
  font-weight: 600;
  margin: 5px 0;
}
#earning-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#earning-fullscreen .shades {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(1, 1, 1, 0.7);
}
#earning-fullscreen .fullscreen-earning-container {
  position: absolute;
  width: 100%;
  margin-top: 45px;
  padding: 0.625em;
  top: 0;
}
.earning {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.earning.wide {
  margin-bottom: 0.625em;
}
.earning.wide .earning-header {
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.earning.wide .earning-header.story-photo-exists {
  height: 300px;
  max-height: 300px;
}
.earning.wide .earning-header .template-photo {
  position: absolute;
  display: block;
  right: 0.625em;
  top: 0.625em;
  height: 3.5625em;
  max-height: 3.5625em;
  width: 3.5625em;
}
.earning.badge .earning-header {
  height: 200px;
  max-height: 200px;
}
.earning.badge .earning-header .template-photo {
  position: absolute;
  display: block;
  bottom: 0.625em;
  height: 125px;
  max-height: 125px;
  width: 100%;
}
.earning.badge .earning-header .template-photo img {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.earning.fullscreen {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  z-index: 5;
}
.earning.fullscreen .earning-story-photo {
  position: relative;
  margin-bottom: 1.25em;
  max-height: 50%;
  min-height: 25%;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.earning .earning-section {
  margin: 0 0.625em 1.25em 0.625em;
  color: #222222;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.125em;
}
.earning .earning-section.no-bottom {
  margin-bottom: 0;
}
.earning .earning-story-photo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  max-height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.earning .earning-link-button {
  display: block;
  width: 100%;
  padding: 0.625em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #3399ff;
  color: #fff;
  text-align: center;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-weight: 300;
}
.earning .earning-link-button .large {
  font-size: 1.125em;
  font-weight: 600;
}
.earning .earning-header {
  position: relative;
  width: 100%;
  background-color: transparent;
  margin-bottom: 1.25em;
}
.earning .earning-header .text {
  position: relative;
  display: block;
  padding: 0.625em 4.8125em;
  padding-bottom: 0;
  width: 100%;
}
.earning .earning-header .text.dark {
  background-color: rgba(1, 1, 1, 0.4);
  padding-bottom: 0.625em;
}
.earning .earning-header .text.dark p {
  color: #eeeeee;
}
.earning .earning-header .text.dark p a {
  text-shadow: 1px 1px 0px #000000;
}
.earning .earning-header .text p {
  margin: 0;
  font-size: 1em;
  line-height: 1.125em;
}
.earning .earning-header .text p a {
  font-weight: 600;
  color: #3399ff;
}
.earning .earning-header .text p a:hover {
  text-decoration: underline;
}
.earning .earning-header .text p.large {
  font-size: 1.125em;
}
.earning .earning-header .user-profile {
  position: absolute;
  display: block;
  height: 3.5625em;
  width: 3.5625em;
  max-width: 3.5625em;
  left: 0.625em;
  top: 0.625em;
}
.earning .earning-header .user-profile img {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.earning .earning-header .template-photo {
  position: absolute;
  display: block;
  right: 0.625em;
  top: 0.625em;
  height: 3.5625em;
  max-height: 3.5625em;
  width: 3.5625em;
}
.earning .earning-body {
  position: relative;
}
.earning .earning-body p {
  margin: 0;
  font-size: 1em;
  line-height: 16px;
}
.earning .comment-social-links p {
  margin: 0;
  color: #999;
  line-height: 16px;
  font-size: 1em;
}
.earning .comment-social-links a {
  color: #3399ff;
  font-weight: 600;
}
.earning .comment-social-links a:hover {
  text-decoration: underline;
}
.earning .manage-story-form {
  margin-bottom: 1.25em;
  border-bottom: 1px solid #cccccc;
}
.earning .manage-story-form input[type=file] {
  margin: 0;
}
.earning .manage-story-form .story-text {
  width: 100%;
  min-height: 40px;
  height: 40px;
  margin: 0;
  padding: 0.625em;
  border: none;
  border-top: 1px solid #cccccc;
  resize: none;
  font-family: inherit;
}
.earning .manage-story-form .story-text:focus {
  background: #ffffff;
}
.earning .manage-story-form .manage-story-options {
  padding: 0 0.625em 0.625em 0.625em;
}
.earning .manage-story-form .manage-story-options .button {
  display: inline-block;
}
.comments-container {
  position: relative;
  width: 100%;
  margin: 0;
}
.comment {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.625em;
}
.comment:hover .options {
  display: block;
}
.comment.deleted {
  margin-bottom: 1.25em;
}
.comment.deleted .text p {
  color: #cccccc;
  line-height: 1em;
}
.comment .image {
  float: left;
  width: 30px;
  height: 30px;
}
.comment .image img {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.comment .text {
  margin-left: 30px;
  padding-left: 0.3125em;
}
.comment .text p.name {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1em;
}
.comment .text p.name a {
  color: #3399ff;
}
.comment .text p.name a:hover {
  text-decoration: underline;
}
.comment .text p.name .date {
  color: #cccccc;
  font-size: 0.66666667em;
}
.comment .text p.name .date:before {
  content: " ";
}
.comment .text p {
  margin: 0;
}
.comment .options {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.comment .options form {
  display: inline-block;
}
.comment .options form input[type=submit] {
  display: inline-block;
  border: 0;
  content: "";
  background-color: transparent;
  -webkit-appearance: none;
}
.comment .options form input[type=submit]:hover {
  cursor: pointer;
}
.comment .options .option-button {
  display: inline-block;
  color: #cccccc;
}
.comment .options .option-button:hover {
  cursor: pointer;
}
.comment .options .confirm-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  font-size: 0.75em;
  line-height: 12px;
  color: #fff;
  background-color: #ce3146;
}
.write-comment {
  width: 100%;
}
.write-comment .comment-input {
  width: 100%;
  position: relative;
}
.write-comment .comment-input input {
  height: 40px;
  margin: 0;
  padding: 0.625em;
  border: none;
  border-top: 1px solid #cccccc;
  outline: none;
}
.write-comment .comment-input input:focus {
  background: #ffffff;
}
#user-submission-form p {
  margin: 0;
}
#user-submission-form textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
}
#user-submission-form .image-input {
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
}
#user-submission-form .button {
  margin-bottom: 0;
}
#user-submission-thank-you,
#user-submission-loading {
  display: none;
}
/*#endregion*/
/*#region Footer*/
footer {
  display: block;
  min-height: 40px;
}
footer #linkList {
  width: 60%;
  float: left;
  text-align: left;
  vertical-align: middle;
}
footer #linkList li {
  display: inline-block;
  padding: 0;
  font-weight: 600;
}
footer #linkList li a {
  font-size: 0.875em;
  color: #000;
}
footer #linkList li:after {
  content: " |";
  font-weight: 300;
}
footer #linkList li:last-child:after {
  content: "";
}
footer #imageList {
  margin: 0;
  width: 35%;
  float: right;
}
footer.small #linkList,
footer.small #imageList {
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  footer #linkList,
  footer #imageList {
    width: 100%;
    text-align: center;
  }
}
/*#endregion*/
/*#endregion*/
/*#region Admin Page Styles*/
#adminBody {
  padding-top: 0.625em;
}
.panel {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.panel p {
  font-size: 0.875em;
}
.wide {
  max-width: 100em;
}
#adminSidebar {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#adminSidebar .header {
  padding: 0.625em 0.3125em;
  background-color: #222222;
  color: #eeeeee;
  font-weight: 600;
}
#adminSidebar .header h5 {
  color: #eeeeee;
  margin: 0;
  padding: 0;
}
#adminSidebar .side-nav {
  padding: 0;
}
#adminSidebar .side-nav li {
  margin: 0;
  padding: 0;
}
#adminSidebar .side-nav li a {
  padding: 0.3125em 0.625em;
  color: #222222;
  font-weight: 300;
}
#adminSidebar .side-nav li:hover,
#adminSidebar .side-nav .active {
  background-color: #eeeeee;
}
.adminList {
  width: 100%;
  padding: 0;
  border: #cccccc solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.adminList input {
  margin: 3px 4px 3px 3px;
}
.adminList .col-checkbox {
  width: 20px;
  text-align: center;
}
.adminList .col-title {
  font-weight: 600;
}
.adminList .col-title .editPane {
  visibility: hidden;
  margin: 5px 0 0 0;
  font-weight: 300;
}
.adminList .col-date p {
  margin: 5px 0 0 0;
}
.adminList thead,
.adminList tfoot {
  background-color: #222222;
  color: #eeeeee;
  font-size: 1.125em;
  line-height: 20px;
}
.adminList thead tr td,
.adminList tfoot tr td {
  padding: 0.625em;
}
.adminList thead a,
.adminList tfoot a {
  color: #eeeeee;
  font-weight: 600;
}
.adminList thead a:hover,
.adminList tfoot a:hover,
.adminList thead a.active,
.adminList tfoot a.active {
  text-decoration: underline;
}
.adminList tbody {
  color: #222222;
}
.adminList tbody a {
  color: #222222;
}
.adminList tbody tr:hover .editPane {
  visibility: visible;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: #eee;
}
#itemTitle {
  font-size: 20px;
  font-weight: 700;
}
#dateChoice,
#thresholdOptions,
#qrType,
#userContentType,
#systemTriggerType {
  display: block;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 0;
  height: 0;
  max-height: 0;
  overflow: hidden;
}
#dateChoice.active,
#thresholdOptions.active,
#qrType.active,
#userContentType.active,
#systemTriggerType.active {
  height: auto;
  max-height: 400px;
  opacity: 1;
  padding-bottom: 20px;
}
.select2-results .select2-result-label,
.select2-container {
  font-size: 0.875em;
}
#achievementsRequiredContainer {
  margin-top: 0.625em;
}
#achievementsRequiredContainer #achievementsRequired {
  width: auto;
  min-width: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 16px;
}
#achievementsRequiredContainer h5 {
  margin-right: 0.625em;
}
#achievementsRequiredContainer #achievementsRequired,
#achievementsRequiredContainer h5 {
  display: inline-block;
}
/*#endregion*/
/*#region jppquad*/
.jppquad {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
  background-color: #ffffff;
  border: #cccccc solid 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /*#region Quads*/
  /*#endregion*/
  /*#region Labels*/
  /*#endregion*/
  /*#region Thresholds*/
  /*
        .max:before {
            content: "";
            position: absolute;
            left: 50%;
            height: 100%;
            width: 10px;
            border-left: @lineColor solid 1px;
        }

        .max:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            height: 10px;
            border-top: @lineColor solid 1px;
        }
        */
  /*#endregion*/
}
.jppquad .heightFill {
  position: relative;
  display: block;
  padding-bottom: 100%;
}
.jppquad .quadBackground {
  position: absolute;
  top: 9%;
  left: 9%;
  width: 82%;
  height: 82%;
  background-color: #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.jppquad .circleContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.jppquad .createQuad {
  position: absolute;
  bottom: 50%;
  right: 50%;
  background-color: #005f95;
  border-top-left-radius: 100%;
}
.jppquad .learnQuad {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: #ce3146;
  border-top-right-radius: 100%;
}
.jppquad .exploreQuad {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #8eb936;
  border-bottom-right-radius: 100%;
}
.jppquad .socialQuad {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: #ffcb05;
  border-bottom-left-radius: 100%;
}
.jppquad .createLabel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: #3ea9f7;
}
.jppquad .createLabel p {
  position: absolute;
  font-size: 2.125em;
  font-weight: 600;
  margin-bottom: 0;
  bottom: 60%;
  right: 60%;
  color: #3ea9f7;
}
.jppquad .createLabel:before {
  position: absolute;
  font-size: 0.75em;
  font-weight: 300;
  content: "Create";
  top: 5%;
  left: 5%;
}
.jppquad .createLabel.large:before {
  position: absolute;
  font-size: 1.25em;
  font-weight: 300;
  content: "Create";
  top: 5%;
  left: 5%;
}
.jppquad .learnLabel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: #f79123;
}
.jppquad .learnLabel p {
  position: absolute;
  font-size: 2.125em;
  font-weight: 600;
  margin-bottom: 0;
  bottom: 60%;
  left: 60%;
  color: #f79123;
}
.jppquad .learnLabel:before {
  position: absolute;
  font-size: 0.75em;
  font-weight: 300;
  content: "Learn";
  top: 5%;
  right: 5%;
}
.jppquad .learnLabel.large:before {
  position: absolute;
  font-size: 1.25em;
  font-weight: 300;
  content: "Learn";
  top: 5%;
  right: 5%;
}
.jppquad .exploreLabel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: #009142;
}
.jppquad .exploreLabel p {
  position: absolute;
  font-size: 2.125em;
  font-weight: 600;
  margin-bottom: 0;
  top: 60%;
  left: 60%;
  color: #009142;
}
.jppquad .exploreLabel:before {
  position: absolute;
  font-size: 0.75em;
  font-weight: 300;
  content: "Explore";
  bottom: 5%;
  right: 5%;
}
.jppquad .exploreLabel.large:before {
  position: absolute;
  font-size: 1.25em;
  font-weight: 300;
  content: "Explore";
  bottom: 5%;
  right: 5%;
}
.jppquad .socialLabel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: #ff931a;
}
.jppquad .socialLabel p {
  position: absolute;
  font-size: 2.125em;
  font-weight: 600;
  margin-bottom: 0;
  top: 60%;
  right: 60%;
  color: #ff931a;
}
.jppquad .socialLabel:before {
  position: absolute;
  font-size: 0.75em;
  font-weight: 300;
  content: "Socialize";
  bottom: 5%;
  left: 5%;
}
.jppquad .socialLabel.large:before {
  position: absolute;
  font-size: 1.25em;
  font-weight: 300;
  content: "Socialize";
  bottom: 5%;
  left: 5%;
}
.jppquad .threshold {
  position: absolute;
  border: #ffffff solid 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.jppquad .threshold p {
  position: absolute;
  right: 2px;
  top: 50%;
  padding: 0;
  margin: -6px 0 0 0;
  font-size: 0.75em;
  line-height: 12px;
  color: #eeeeee;
}
.jppquad .max {
  border: #ffffff solid 2px;
}
.jppquad .transition {
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
/*#endregion*/
/*#region Image List*/
.createQuad {
  position: absolute;
  bottom: 50%;
  right: 50%;
  background-color: #005f95;
  border-top-left-radius: 100%;
}
.learnQuad {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: #ce3146;
  border-top-right-radius: 100%;
}
.exploreQuad {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #8eb936;
  border-bottom-right-radius: 100%;
}
.socialQuad {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: #ffcb05;
  border-bottom-left-radius: 100%;
}
.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.imageContainer img {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  width: 86%;
  height: auto;
}
.imageContainer.player img {
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
}
.imageContainer.sysQuest {
  background-color: #aa35a5;
}
.imageContainer.comQuest {
  background-color: #FF6B1C;
}
.imageContainer .achievement {
  height: 100%;
}
.imageContainer .achievement .learnQuad {
  background-color: #a67f84;
}
.imageContainer .achievement .createQuad {
  background-color: #738b98;
}
.imageContainer .achievement .exploreQuad {
  background-color: #96a180;
}
.imageContainer .achievement .socialQuad {
  background-color: #b3a674;
}
.imageContainer .learnQuad,
.imageContainer .createQuad,
.imageContainer .exploreQuad,
.imageContainer .socialQuad {
  width: 50%;
  height: 50%;
}
.imageContainer:after {
  content: "";
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #fff;
}
.imageList {
  margin-bottom: -20px;
}
.imageList .imageListItem {
  position: relative;
}
.imageList a img {
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.imageList a p {
  color: #222222;
}
.imageList li p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.75em;
  line-height: 20px;
  font-weight: 600;
  margin: 5px 0;
}
/*#endregion*/
.roundedImageContainer img {
  width: 34px;
  height: 34px;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/*#region Navigation Dropdown Styles*/
.dropdownContainer {
  position: absolute;
  right: 0;
  display: none;
  top: 45px;
  width: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, 0.5);
  box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, 0.5);
}
.dropdownContainer img,
.dropdownContainer #qrcodeCanvas {
  width: 100%;
}
.dropdownContainer.active {
  display: block;
}
.dropdownContainer .title {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.dropdownContainer .title p {
  padding: 5px;
  margin: 0;
  font-size: 0.75em;
  line-height: 12px;
  font-weight: 600;
}
.dropdownContainer .content {
  position: relative;
  width: 100%;
}
.dropdownContainer .content img {
  padding: 5px;
  width: 100%;
}
.dropdownContainer .content .item {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #cccccc;
  color: #222222;
}
.dropdownContainer .content .item .item-photo {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  padding: 0;
  margin: 0;
  line-height: 0;
}
.dropdownContainer .content .item .item-photo img {
  max-width: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border: 1px solid #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.dropdownContainer .content .item .item-text {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin: 0;
  padding: 0 5px;
}
.dropdownContainer .content .item .item-text p {
  margin: 0;
  display: block;
  font-size: 0.8125em;
  line-height: 15px;
  font-weight: 300;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.dropdownContainer .content .item .item-text p span,
.dropdownContainer .content .item .item-text p a {
  margin: 0 !important;
  font-weight: 600;
}
.dropdownContainer .content .item .item-text p a:hover {
  text-decoration: underline;
}
.dropdownContainer .content .item:hover {
  background-color: #eee;
}
.dropdownContainer:after {
  content: "";
  position: absolute;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.dropdownContainer:before {
  content: "";
  position: absolute;
  top: -11px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #aaa;
}
#qrcodeDrop:after {
  right: 104px;
}
#qrcodeDrop:before {
  right: 103px;
}
#notificationDrop:after {
  right: 60px;
}
#notificationDrop:before {
  right: 59px;
}
#settingsDrop:after {
  right: 12px;
}
#settingsDrop:before {
  right: 11px;
}
/*#endregion*/
/*#region 404 Page Error*/
#errorStyle {
  padding: 0.625em 0;
  margin-bottom: 0.625em;
  background-color: #fa3dfa;
}
#errorStyle h1 {
  font-size: 6.25em;
  text-align: center;
  margin: 0;
}
#errorStyle p {
  font-size: 6.25em;
}
/*#endregion*/
/*#region Add Achievement*/
.icon-picker {
  overflow: scroll;
  height: 500px;
}
/*#endregion*/
/*#region add Quest*/
#addquest-btns p {
  text-align: left;
  font-weight: 700;
}
/*#endregion*/
/*#region add Achievment*/
.AchievementReq {
  display: none;
}
#req-btns {
  margin-bottom: 10px!important;
}
/*#endregion*/
/*#region adminQuad*/
#adminQuadView {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1.25em;
  background-color: #ffffff;
  border: #cccccc solid 1px;
}
#adminQuadView .heightFill {
  position: relative;
  display: block;
  padding-bottom: 100%;
}
#adminQuadView #createQuad {
  position: absolute;
  bottom: 50%;
  right: 50%;
  background-color: #005f95;
  border-top-left-radius: 100%;
}
#adminQuadView #learnQuad {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: #ce3146;
  border-top-right-radius: 100%;
}
#adminQuadView #exploreQuad {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #8eb936;
  border-bottom-right-radius: 100%;
}
#adminQuadView #socialQuad {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: #ffcb05;
  border-bottom-left-radius: 100%;
}
#adminQuadView .valueSelect {
  width: 40px;
  height: 30px;
  position: absolute;
  margin: 0;
}
#adminQuadView #PointsCreate {
  bottom: 80%;
  left: 5%;
}
#adminQuadView #PointsLearn {
  bottom: 80%;
  right: 5%;
}
#adminQuadView #PointsExplore {
  top: 80%;
  right: 5%;
}
#adminQuadView #PointsSocialize {
  top: 80%;
  left: 5%;
}
#adminQuadView .quadLabel {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  cursor: default;
}
#adminQuadView #createLabel {
  bottom: 90%;
  left: 5%;
  color: #3ea9f7;
}
#adminQuadView #learnLabel {
  bottom: 90%;
  right: 5%;
  color: #f79123;
}
#adminQuadView #exploreLabel {
  top: 90%;
  right: 5%;
  color: #009142;
}
#adminQuadView #socialLabel {
  top: 90%;
  left: 5%;
  color: #ff931a;
}
#adminQuadView #quadBackground {
  position: absolute;
  top: 9%;
  left: 9%;
  width: 82%;
  height: 82%;
  background-color: #cccccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#adminQuadView #pointOverlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: #ffffff solid 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#adminQuadView #pointOverlay:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 10px;
  border-left: #ffffff solid 1px;
}
#adminQuadView #pointOverlay:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 10px;
  border-top: #ffffff solid 1px;
}
#adminQuadView .transition {
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
#adminQuadView .quad0 {
  width: 0%;
  height: 0%;
}
#adminQuadView .quad1 {
  width: 10%;
  height: 10%;
}
#adminQuadView .quad2 {
  width: 20%;
  height: 20%;
}
#adminQuadView .quad3 {
  width: 30%;
  height: 30%;
}
#adminQuadView .quad4 {
  width: 40%;
  height: 40%;
}
/*#endregion*/
#modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .50;
  -webkit-opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity=50);
  z-index: 1000;
}
#modal-content {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 20px 0 #222;
  -webkit-box-shadow: 0 0 10px 0 #222;
  -moz-box-shadow: 0 0 10px 0 #222;
  display: none;
  height: 180px;
  left: 50%;
  margin: -120px 0 0 -160px;
  padding: 10px;
  position: fixed;
  top: 50%;
  width: 320px;
  z-index: 1000;
}
#modal-content p {
  text-align: center;
  color: #45555F;
  text-transform: uppercase;
}
#modal-content input {
  width: 200px;
  margin-bottom: 10px;
  margin-left: 45px;
}
#main-content {
  padding-top: 10px;
}
#modal-background.active,
#modal-content.active {
  display: block;
}
/*#region draftModal*/
