@{
    ViewBag.Title = "EditQuestList";
}
@model JustPressPlay.ViewModels.EditQuestListViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Edit Quest</h2>
                <p>Select the quest to edit</p>
          
                <table>
                    <thead>
                        <tr>
                            <th width="50px">Icon</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JustPressPlay.ViewModels.EditQuestListViewModel.EditQuest quest in Model.Quests)
                        {	
                            <tr>
                                <td><img style="width: 50px;" src ="@Url.Content(quest.Icon)" /></td>
                                <td>@Html.ActionLink(quest.Title, "EditQuest", new { id = quest.ID })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>