@{
    ViewBag.Title = "EditUserList";
}

@model JustPressPlay.ViewModels.UserListViewModel

<h2>EditUserList</h2>

<ul>
@foreach (JustPressPlay.ViewModels.UserListViewModel.User user in Model.Users)
{
	<li>@Html.ActionLink(user.Username + " (" + user.RealName + ")", "EditUser", new { id = user.ID })</li>	
}
</ul>