@{
    ViewBag.Title = "EditAchievementList";
}

@model JustPressPlay.ViewModels.EditAchievementListViewModel


<div id="adminBody">

    <div class="row wide">

        <div class="large-3 columns">

            @{ Html.RenderPartial("_AdminNavigation"); }

        </div>

        <div class="large-9 columns">

            <div class="panel">
                <h2>Edit Achievement</h2>
                <p>Select achievement to edit</p>
            </div>

            <div class="panel">
                <table>
                    <thead>
                        <tr>
                            <th width="50px">Icon</th>
                            <th>Title</th>
                            <th>State</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JustPressPlay.ViewModels.EditAchievementListViewModel.EditAchievement achievement in Model.Achievements)
                        {	
                            <tr>
                                <td><img style="width: 50px;" src =@Url.Content(achievement.Icon) /></td>
                                <td>@Html.ActionLink(achievement.Title, "EditAchievement", new { id = achievement.ID })</td>
                                <td>@achievement.State</td>
                                <td>@achievement.DateCreated</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>