@{
    ViewBag.Title = "ManageUserCards";
}
@model JustPressPlay.ViewModels.ManageUserCardsViewModel

@Html.ActionLink("Back to User List","ManageUserCardsList")
<h2>ManageUserCards</h2>
@if(Model.AchievementCardList != null && Model.AchievementCardList.Count > 0)
{
    <ul>
    @foreach (JustPressPlay.ViewModels.ManageUserCardsViewModel.AchievementCard card in Model.AchievementCardList)
    {
	    <li>
            @card.Title
            @if (card.CardGiven)
            {
                @Html.ActionLink("Revoke Card", "RevokeCard", new { id = card.InstanceID })
            }
            else
            {
                @Html.ActionLink("Award Card", "AwardCard", new { id = card.InstanceID })
            }
	    </li>	
    }
    </ul>
}
else
{
    @: The selected user has no achievements.   
}