@{
    ViewBag.Title = "Credits";
}

@model JustPressPlay.ViewModels.LayoutViewModel

<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="upper heavy-text text-center">Credits</h1>
            <h2 class="upper text-center">Subtitle</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-2 text-center">
                <li>
                    <img class="credit-image" src="@Url.Content("~/Content/Images/Jpp/Credits/liz.jpg")">
                    <p class="upper heavy-text no-margin">Elizabeth Lawley</p>
                    <p class="no-margin">Production Lead</p>
                </li>
                <li>
                    <img class="credit-image" src="@Url.Content("~/Content/Images/Jpp/Credits/cascioli.png")">
                    <p class="upper heavy-text no-margin">Chris Cascioli</p>
                    <p class="no-margin">Technical Lead</p>
                </li>
                <li>
                    <img class="credit-image" src="@Url.Content("~/Content/Images/Jpp/Credits/joe.jpg")">
                    <p class="upper heavy-text no-margin">Joe Pietruch</p>
                    <p class="no-margin">Mobile Lead</p>
                </li>
                <li>
                    <img class="credit-image" src="http://placekitten.com/g/190/190">
                    <p class="upper heavy-text no-margin">Ben Snyder</p>
                    <p class="no-margin">Back End Developer</p>
                </li>
                <li>
                    <img class="credit-image" src="http://placekitten.com/g/190/190">
                    <p class="upper heavy-text no-margin">Brandon Littell</p>
                    <p class="no-margin">Front End Developer</p>
                </li>
                <li>
                    <img class="credit-image" src="http://placekitten.com/g/190/190">
                    <p class="upper heavy-text no-margin">Stephen Carlson</p>
                    <p class="no-margin">Designer</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-6 small-6 columns">
            <ul class="names">
                <li>STEPHEN JACOBS</li>
                <li>DAVID SIMKINS</li>
                <li>JENN HILTON</li>
                <li>Sebastian Deterding</li>
                <li>ANDY PHELPS</li>
            </ul>
        </div>
        <div class="large-6 small-6 columns">
            <ul class="roles">
                <li>Content Development</li>
                <li>Content Development</li>
                <li>Content Development</li>
                <li>Temporary Title</li>
                <li>The Boss of Us</li>
            </ul>
        </div>
    </div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>SUMMER 2013 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>STEPHEN CARLSON<li>
                    <li>ZACHARY HOEFLER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web &amp; Graphic Design</li>
				    <li>Web Development</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>BRANDON LITTELL</li>
				    <li>BEN SNYDER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="roles">
                    <li>Web Development</li>
				    <li>Web Development</li>
                </ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>SPRING 2012 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>CHRISTINA BELISLE</li>
				    <li>ALLISON CARNWATH</li>
				    <li>ZACHARY HOEFLER</li>
				    <li>LANE LAWLEY</li>
				    <li>GREGORY KOBERGER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="roles">
                    <li>Social Media Coordinator</li>
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Achievement Review</li>
				    <li>Web Development Lead</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>MATT MONASCH</li>
				    <li>RICKY SENFT</li>
				    <li>STEPHEN SMITH</li>
				    <li>BEN SNYDER</li>
				    <li>SHANON ZAGST</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Engine Design &amp; Developement</li>
				    <li>Web Dev &amp; Graphic Design</li>
                </ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>FALL 2012 BETA TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>GRAHAM ANTHONY</li>
				    <li>JOE BELLAVIA</li>
				    <li>CHARLIE BOLES</li>
				    <li>BEAU BOUCHARD</li>
				    <li>MIKE DEVINE</li>
				    <li>MARISSA GOMES</li>
				    <li>JOSH HARRISON</li>
				    <li>DAVID KELLY</li>
				    <li>SIMON KORZUN</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Print Production</li>
				    <li>Video Production</li>
				    <li>Web &amp; Graphic Design</li>
				    <li>Web Development</li>
				    <li>Content Development</li>
				    <li>Content Development</li>
				    <li>RFID Development</li>
				    <li>Web Development</li>
				    <li>Engine Development</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="names">
                    <li>STUART MONSKE</li>
				    <li>BILL PHILLIPS</li>
				    <li>JUSTIN SCHWARTZ</li>
				    <li>RICKY SENFT</li>
				    <li>STEPHEN SMITH</li>
				    <li>STEPHEN STOLL</li>
				    <li>ADAM "BUCKY" TOWNSEND</li>
				    <li>CODY VAN DE MARK</li>
				    <li>DAN WHIDDON</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web &amp; Content Development</li>
				    <li>Content Development</li>
				    <li>Engine Development</li>
				    <li>Web Developement</li>
				    <li>Web Development</li>
				    <li>Content Development</li>
				    <li>Web Development</li>
				    <li>UI &amp; Content Development</li>
				    <li>Web &amp; Content Development</li>
                </ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>
</div>

