@{
    ViewBag.Title = "Credits";
}

@model JustPressPlay.ViewModels.LayoutViewModel

<div id="headerSection">
	<div class="row">
		<div class="row centerText">
			<h1>CREDITS</h1>
			<h2>RIT FACULTY &amp; STAFF</h2>
		</div>
		<div class="row">
			<ul class="large-block-grid-5 small-block-grid-2 centerText" id="catLevel">
				<li>
					<img class="roundImage creditImage" src="http://placekitten.com/190/190">
                    <br />
					<b>ELIZABETH LAWLEY</b>
					<p class="roles">Production Lead</li>
				</li>
				<li>
					<img class="roundImage creditImage" src="http://placekitten.com/g/190/190">
                    <br />
					<b>ELOUISE OYZON</b>
					<p class="roles">Design Lead</li>
				</li>
				<li>
					<img class="roundImage creditImage" src="http://placekitten.com/190/190">
                    <br />
					<b>CHRIS CASCIOLI</b>
					<p class="roles">Technical Lead</li>
				</li>
				<li>
					<img class="roundImage creditImage" src="http://placekitten.com/g/190/190">
                    <br />
					<b>CHRIS EGERT</b>
					<p class="roles">Technical Design</li>
				</li>
				<li>
					<img class="roundImage creditImage" src="http://placekitten.com/190/190">
                    <br />
					<b>JOE PIETRUCH</b>
					<p class="roles">Mobile Lead</li>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="lowerBody">
	<div class="row">
		<div class="large-6 small-6 columns">
            <ul class="names">
                <li>STEPHEN JACOBS</li>
			    <li>DAVID SIMKINS</li>
			    <li>JENN HILTON</li>
                <li>Sebastian Deterding</li>
			    <li>ANDY PHELPS</li>
            </ul>
		</div>
		<div class="large-6 small-6 columns">
            <ul class="roles">
			    <li>Content Development</li>
			    <li>Content Development</li>
			    <li>Content Development</li>
                <li>Temporary Title</li>
			    <li>The Boss of Us</li>
            </ul>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>SUMMER 2013 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>STEPHEN CARLSON<li>
                    <li>ZACHARY HOEFLER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web &amp; Graphic Design</li>
				    <li>Web Development</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>BRANDON LITTELL</li>
				    <li>BEN SNYDER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="roles">
                    <li>Web Development</li>
				    <li>Web Development</li>
                </ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>SPRING 2012 STUDENT TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>CHRISTINA BELISLE</li>
				    <li>ALLISON CARNWATH</li>
				    <li>ZACHARY HOEFLER</li>
				    <li>LANE LAWLEY</li>
				    <li>GREGORY KOBERGER</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="roles">
                    <li>Social Media Coordinator</li>
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Achievement Review</li>
				    <li>Web Development Lead</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>MATT MONASCH</li>
				    <li>RICKY SENFT</li>
				    <li>STEPHEN SMITH</li>
				    <li>BEN SNYDER</li>
				    <li>SHANON ZAGST</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Web Development</li>
				    <li>Engine Design &amp; Developement</li>
				    <li>Web Dev &amp; Graphic Design</li>
                </ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="row">
			<div class="large-12 columns centerText">
				<h2>FALL 2012 BETA TEAM</h2>
			</div>
		</div>
		<div class="row">	
			<div class="large-3 small-6 columns">
                <ul class="names">
				    <li>GRAHAM ANTHONY</li>
				    <li>JOE BELLAVIA</li>
				    <li>CHARLIE BOLES</li>
				    <li>BEAU BOUCHARD</li>
				    <li>MIKE DEVINE</li>
				    <li>MARISSA GOMES</li>
				    <li>JOSH HARRISON</li>
				    <li>DAVID KELLY</li>
				    <li>SIMON KORZUN</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Print Production</li>
				    <li>Video Production</li>
				    <li>Web &amp; Graphic Design</li>
				    <li>Web Development</li>
				    <li>Content Development</li>
				    <li>Content Development</li>
				    <li>RFID Development</li>
				    <li>Web Development</li>
				    <li>Engine Development</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
				<ul class="names">
                    <li>STUART MONSKE</li>
				    <li>BILL PHILLIPS</li>
				    <li>JUSTIN SCHWARTZ</li>
				    <li>RICKY SENFT</li>
				    <li>STEPHEN SMITH</li>
				    <li>STEPHEN STOLL</li>
				    <li>ADAM "BUCKY" TOWNSEND</li>
				    <li>CODY VAN DE MARK</li>
				    <li>DAN WHIDDON</li>
                </ul>
			</div>
			<div class="large-3 small-6 columns">
                <ul class="roles">
				    <li>Web &amp; Content Development</li>
				    <li>Content Development</li>
				    <li>Engine Development</li>
				    <li>Web Developement</li>
				    <li>Web Development</li>
				    <li>Content Development</li>
				    <li>Web Development</li>
				    <li>UI &amp; Content Development</li>
				    <li>Web &amp; Content Development</li>
                </ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <footer>
        @{ Html.RenderPartial("_Footer"); }
    </footer>
</div>

